@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
body{
    background-color: #fec89a;
}
h1{
    margin-top: 2.5vw;
    font-family: 'Prosto One', cursive;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 4px 4px 10px lightblue;
}
label{
    line-height: 3.6rem;
}
tr{
    margin-left: 30px;
    line-height: 30px;
}
box{
    font-size: 1.8rem;
    padding: 10px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 10px;
    margin-top: 2vw;
    margin-left: 35vw;
    border: 2px solid #e9edc9;
    display: block;
    width:400px;
    height:510px;
    background-color: #e0e1dd;
}